<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page`s admin!</title>


</head>
<body>
<div id="header">
    <h1>You are welcome admin!</h1>
</div>
<div id="button">
    <p>Change users:</p>
    <input type="button" onclick="location.href='/admin/changeUsers';" value="Change Users" />
    <p>Delete user:</p>
    <input type="button" onclick="location.href='/admin/deleteUser';" value="Delete user" />
    <p>Go in presentation page:</p>
    <input type="button" onclick="location.href='/presentation';" value="Presentation Page" />
</div>
</body>
</html>


<!--•главная - содержит расписание презентаций, разбитое по аудиториям.-->