<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page`s admin!</title>
</head>
<body>
<div align="center">
<div id="header">
    <h1>You are welcome ADMIN!</h1>
</div>
<div id="button">
<!--    <p>Change users:</p>-->
<!--    <input type="button" onclick="location.href='/admin/changeUser';" value="Change User" />-->
    <p>Change or Delete user:</p>
    <input type="button" onclick="location.href='/admin/deleteUser';" value="Change Or Delete user" />
    <p>Go in presentation page:</p>
    <input type="button" onclick="location.href='/admin/presentation';" value="Presentation Page" />
    <p>Log Out</p>
    <input type="button" onclick="location.href='/loginPage';" value="Log Out" />

</div>
</div>
</body>
</html>

