<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My home page</title>

</head>
<body>
<div align="center">
<div id="header">
    <p>Welcome to our conferences.
        Here you can see a list of our conferences and choose your favorite!</p>


    <table border="2" cellpadding="5">
        <thead>
        <th>Presentation`s name</th>
        <th>Room`s number</th>
        <th>Schedule</th>

        </thead>
        <tbody>
        <tr th:if="${presentations.isEmpty()}">
            <td colspan="2"> No presentations Available </td>
        </tr>
        <tr th:each="p : ${presentations}">
            <td th:text="${p.name}"></td>
            <td align="center" th:text="${p.room.number}"></td>
            <td th:if="${p.schedule ne null}" th:text="${p.schedule.date}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="button">
    <p>You need to register!</p>
    <a th:href="@{/loginPage}">Sign in</a> | <a th:href="@{/register}">Register</a>
</div>
</div>
</body>
</html>