<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My home page</title>


</head>
<body>
<div id="header">
    <h1>Ласкаво просимо на наші конференції.
        Тут ви можете побачити перелік наших конференцій та обрати собі по вподобаннях!</h1>
</div>
<div id="button">
    <p>Натисніть кнопку для перегляду розкладу презентацій!</p>
    <input type="button" onclick="location.href='/presentation/';" value="Куди можна піти?" />
</div>
</body>
</html>


<!--•главная - содержит расписание презентаций, разбитое по аудиториям.-->