<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
</head>


<table border="2" cellpadding="5">
    <thead>
    <th>Presentation`s name</th>
    <th>Room`s number</th>
    <th>Schedule</th>
<!--    <th>Registration</th>-->

    </thead>
    <tbody>
    <tr th:if="${presentations.isEmpty()}">
        <td colspan="2"> No presentations Available </td>
    </tr>
    <tr th:each="p : ${presentations}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.room.number}"></td>
        <td th:if="${p.schedule ne null}" th:text="${p.schedule.date}"></td>

    </tr>
    </tbody>
</table>
<p>Log Out</p>
<input type="button" onclick="location.href='/loginPage';" value="Log Out" />

<p>Go home:</p>
<input type="button" onclick="location.href='/admin/adminHome';" value="GO HOME" />

</body>
</html>
