<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
</head>
<body>
<h1>Create presentation:</h1>


<form th:action="@{/presenter/addPresentation}"
      th:object="${presentation}" method="POST">
     Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Room:
    <input type="text" th:field="*{room}" />
    <br/>
<!--    Time:-->
<!--    <input type="datetime-local" th:field="*{schedule.date}" />-->
    <br/>
    Date and Time:
    <input type="datetime-local"
           th:field="*{start}" id="schedule"
           name="schedule" value="2019-09-11T19:30">

    <input type="submit" value="Create" />

</form>

<br/>
<p>Go home:</p>
<input type="button" onclick="location.href='/presenter/presenterHome';" value="GO HOME" />
</body>
</html>