<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
</head>


<table border="2" cellpadding="5">
    <thead>
    <th>Id</th>
    <th>Presentation`s name</th>
    <th>Room`s number</th>
    <th>Schedule</th>
    <th>Registration</th>

    </thead>
    <tbody>
    <tr th:if="${presentations.isEmpty()}">
        <td colspan="2"> No presentations Available </td>
    </tr>
    <tr th:each="p : ${presentations}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.room.number}"></td>
        <td th:text="${p.schedule.date}"></td>
        <td>

<!--    <tr th:each="pr : ${p.id}">-->
<!--        <input type="button" onclick="location.href='/registrationUser';" value="registration"/>-->
<!--    </tr>-->

    </td>

    </tr>
    </tbody>
</table>
</body>
</html>
