<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
</head>
<body>
<h1>Create User:</h1>


<form th:action="@{/register}"
      th:object="${user}" method="POST">
    First Name:
    <input type="text" th:field="*{firstName}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{surName}" />
    <br/>
    UserName:
    <input type="text" th:field="*{userName}" />
    <br/>
    Role (ADMIN, PRESENTER, LISTENER):
    <input type="text" th:field="*{role}" />
    <br/>
    Password:
    <input type="text" th:field="*{password}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

</body>
</html>